

<h2 style="display:inline;"><%= @album.title %></h2>
<a href="<%= new_album_track_url(@album) %>">Add track</a>

<ul>
<% @album.tracks.each do |track| %>
  <li><%= track.name %></li>
<% end %>
</ul>
